<p>
  <strong><%= @cocktail.name %>:</strong>
  <br>
  <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>
  <br>
  <ul>
      <% @cocktail.doses.each do |dose|%>
      <li>
        <%= dose.description %>
        of
        <%= dose.ingredient.name %>
        <%= link_to 'X', dose_path(dose), method: :delete, class: 'btn btn-primary' %>
        <% end %>
      </li>
  </ul>
  <br>
</p>

<%= link_to 'Create a new dose', new_cocktail_dose_path(@cocktail), class: 'btn btn-primary' %>

<br>
<br>

<%= link_to 'Back', cocktails_path, class: 'btn btn-primary btn-block' %>
